<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>Cars</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Cars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/posts/index}">Все объявления</a>
            <a class="nav-item nav-link active" href="#">Добавить объявление<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:if="${user.login == 'Гость'}" th:href="@{/loginPage}">
                <span th:text="${user.login}"></span>
                <span> | Войти</span>
            </a>
            <a class="nav-item nav-link" th:if="${user.login != 'Гость'}" th:href="@{/logout}">
                <span th:text="${user.login}"></span>
                <span> | Выйти</span>
            </a>
        </div>
    </div>
</nav>
<div class="row pt-3 pl-5 pr-5">
    <div class="card" style="width: 100%">
        <div class="card-header">
            Новое объявление.
        </div>
        <form th:action="@{/posts/createPost}" th:object="${post}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="form-group pl-3 pr-3 pt-2">
                    <label for="name"><b>Название</b></label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="form-group pl-3 pr-3 pt-2">
                    <label for="description" class="form-label"><b>Описание объявления</b></label>
                    <textarea class="form-control" name="description" id="description"></textarea>
                </div>
                <div class="form-group pl-3 pr-3 pt-2">
                    <label><b>Марка авто</b></label>
                    <label>
                        <input type="text" class="form-control" th:field="*{car.brand}">
                    </label>
                    <label><b>Модель авто</b></label>
                    <label>
                        <input type="text" class="form-control" th:field="*{car.model}">
                    </label>
                    <div class="form-group pl-3 pr-3 pt-2"></div>
                    <label for="engineId"><b>Двигатель</b></label>
                    <select name="engineId" id="engineId" class="form-control">
                        <option th:each="engine: ${engines}" th:text="${engine.name}" th:value="${engine.id}"></option>
                    </select>
                    <div class="form-group pl-3 pr-3 pt-2"></div>
                    <label><b>Цена</b></label>
                    <label for="price">
                        <input type="text" class="form-control" name="price" id="price">
                    </label>
                    <div class="form-group pl-3 pr-3 pt-2"></div>
                    <label><b>Фото</b></label>
                    <input type="file" class="form-control" name="file" id="file">
                    <div class="form-group pl-3 pr-3 pt-2"></div>
                    <label><b>ФИО владельца</b></label>
                    <label for="driverName"></label>
                    <input type="text" class="form-control" name="driverName" id="driverName">
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>