<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Cars</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/index}">Cars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Все объявления<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/tasks/formAdd}">Добавить объявление</a>
            <a class="nav-item nav-link" th:if="${user.name == 'Гость'}" th:href="@{/loginPage}">
                <span th:text="${user.name}"></span>
                <span> | Войти</span>
            </a>
            <a class="nav-item nav-link" th:if="${user.name != 'Гость'}" th:href="@{/logout}">
                <span th:text="${user.name}"></span>
                <span> | Выйти</span>
            </a>
        </div>
    </div>
</nav>
<form class="form-floating" id="inputDisabled" th:object="${post}">
    <div class="mb-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Объявление</th>
                <th scope="col">Цена автомобиля</th>
                <th scope="col">Время размещения</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p style="font-size: 18px"><b th:text="*{name}"></b></p>
                </td>
                <td>
                    <p style="font-size: 18px; display:inline;"><b th:text="${price} + Р"></b></p>
                </td>
                <td th:text="${#temporals.format(*{createdPost}, 'dd-MM-yyyy HH:mm')}"></td>
                <td>
                    <form th:if="${post.user.id == user.id}" th:action="@{/formEditPriceHistory}" style="display:inline;">
                        <button type="submit" name="postId" th:value="${post.id}" class="btn btn-primary mt-3">Изменить цену</button>
                    </form>
                <td/>
            </tr>
            </tbody>
        </table>
        <div class="form-group pl-3 pr-3 pt-2">
        <div class="card">
            <img th:src="@{|posts/photoCar/*{id}}" class="card-img-top" alt="...">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <textarea class="form-control" disabled rows="5" th:field="*{description}" name="description"
                      id="description"></textarea>
        </div>
        </div>
        <div class="form-group pl-3 pr-3 pt-2">
            <form class="form-floating" th:object="${car}">
                <div class="mb-3">
                    <br>
                    <label for="brand" class="form-label">Марка авто</label>
                    <input class="form-control" th:field="*{brand}" id="brand" disabled="disabled">
                    <br>
                    <label for="model" class="form-label">Модель авто</label>
                    <input class="form-control" disabled="disabled" th:field="*{model}" name="model" id="model">
                    <br>
                    <label for="engine" class="form-check-label">Двигатель</label>
                    <input class="form-control" th:field="*{engine}" name="engine" id="engine" disabled="disabled">
                    <br>
                    <br>
                    <label for="drivers" class="form-check-label">Водители</label>
                    <ol th:each="owner: *{owners}">
                        <li class="form-control" th:field="${owner.name}" id="drivers"></li>
                    </ol>
                    <br>
                </div>
            </form>
        </div>
        <div class="form-group pl-3 pr-3 pt-2">
            <label for="priceHistories" class="form-check-label">Изменения цены</label>
            <ol th:each="ph: ${priceHistories}">
                <li class="form-control" th:field="${ph.after}" id="priceHistories"></li>
            </ol>
            <form class="btn btn-primary" method="POST" th:action="@{|/posts/participate/${post.getId()}|}" style="width: 100%">
                <button class="btn btn-success" role="button">Подписаться</button>
            </form>
        </div>
    </div>
</form>
</body>
</html>